[Unit] 
Description=Yet Another Easy Tunnel  
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=python3.8 /usr/local/bin/yaetunnel-client
ExecStop=/usr/bin/pkill -9 -f python.*yaetunnel-client
Restart=always

[Install]
WantedBy=multi-user.target