[Unit] 
Description=Yet Another Easy Tunnel  
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=yaetunnel-client
ExecStop=/usr/bin/pkill -9 -f yaetunnel-client
Restart=always

WantedBy=multi-user.target
[Install]